body {
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg,#6dd5fa,#ff758c);
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.card {
    background:white;
    padding:30px;
    border-radius:20px;
    width:320px;
    text-align:center;
    box-shadow:0 10px 30px rgba(0,0,0,0.2);
}

input {
    width:100%;
    padding:12px;
    margin:8px 0;
    border-radius:10px;
    border:none;
    background:#f0f0f0;
}

button {
    width:100%;
    padding:12px;
    margin-top:10px;
    border:none;
    border-radius:12px;
    background:#ff4d6d;
    color:white;
    font-weight:bold;
    cursor:pointer;
}
